@tailwind base;
@tailwind components;
@tailwind utilities;

.sign_container{
    @apply flex flex-row justify-around font-sans font-medium my-6;
}

@font-face {
    font-family: Josefin_Sans;
    font-weight: 400;
}


body{
    font-family: Josefin_Sans;
}

.buttons:hover{
    background-color: rgb(243 244 246);
    opacity:0.7
}
.sign:hover{
    color:  rgb(100 116 139);
}
.active-btn{
    border: 1px solid cadetblue;
    padding: 10px 10px 10px 7px;
}
input[type='radio'],
label {
    cursor: pointer;

}

input[type='radio'] {
    height: 22px;
    width: 22px;
}
#tooltip{
    visibility: hidden;
    width: 180px;
    background-color: rgb(254 202 202);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    border-color: rgb(225 29 72);
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}
#tooltip_name{
    visibility: hidden;
    width: 180px;
    background-color: rgb(254 202 202);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    border-color: rgb(225 29 72);
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom:213px;
}
#tooltip_last_name{
    visibility: hidden;
    width: 180px;
    background-color: rgb(254 202 202);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    border-color: rgb(225 29 72);
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom:110px;
}
#tooltip_password{
    visibility: hidden;
    width: 180px;
    background-color: rgb(254 202 202);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    border-color: rgb(225 29 72);
    padding: 5px 0;
    position: absolute;
    bottom:20px;
    z-index: 1;
}